DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:54322/postgres"
VITE_API_URL="http://localhost:3000"
ALLOWED_CORS="http://localhost:5173"
DEFAULT_ADMIN_EMAIL="string"    # used by the DB seeding script
DEFAULT_ADMIN_PASSWORD="string"
VITE_S3_ICON_BUCKET="url"
VITE_S3_MEDIA_BUCKET="url"
BUCKET_MEDIA="s3 bucket name"
BUCKET_ICONS="s3 bucket name"
SERVER_DELAY="50" # optional, number in milliseconds (+/- 20%) to delay all server responses, simulating real conditions
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION=""